{% extends 'navbar.html' %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<style>
  body {
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/afaefd40343363.577bd5133b618.gif');
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: gray;
  }
</style>
<div class="container text-white" style="height:100vh; display:flex; justify-content: center; flex-direction: column">
  <h1>Login</h1>

  {% get_providers as socialaccount_providers %}

  {% if socialaccount_providers %}
  <p>{% blocktrans with site.name as site_name %}Please sign in with one
  of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
  for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

  <div class="socialaccount_ballot">

    <ul class="socialaccount_providers">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>

    <div class="login-or">{% trans 'or' %}</div>

  </div>

  {% include "socialaccount/snippets/login_extra.html" %}

  {% endif %}
  <div>
    <form class="login" method="POST" action="{% url 'account_login' %}" style="color: white;">
      {% csrf_token %}
      {{ form|crispy }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="primaryAction btn btn-success" style="height:40px; width:150px" type="submit">{% trans "Sign In" %}</button>
      <a class="button secondaryAction btn btn-dark" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      <a class="button secondaryAction btn btn-secondary" href="{{ signup_url }}">sign up</a>
    </form>
  </div>
</div>

{% endblock %}
